/* calender */
.pignose-calendar{
    font-size: inherit;
    width: 100%;
    max-width: 360px;
    background-color: #fff;
    border: none;
    margin: 0 auto;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.pignose-calendar .pignose-calendar-top {
    padding:0;
    background-color: transparent;
    border-bottom: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-date {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-prev , .pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-next{
    float: none;
    margin-right: 0;
    margin-left: 0;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav {
    width: auto;
    height: auto;
    padding: 0 8px;
    transform: translateY(3px);
}

.pignose-calendar-top-date{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-month{
    order: 2;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 700;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-year{
    order: 1;
    margin-bottom: 5px;
    font-size: 14px;
}

.pignose-calendar .pignose-calendar-header {
    padding: 0;
    margin-top: 0;
    font-weight: 500;
    overflow: hidden;
}
.pignose-calendar .pignose-calendar-body{
    padding: 0;
}
.pignose-calendar .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sat, .pignose-calendar .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sun{
    color: #ff6651;
}
.pignose-calendar .pignose-calendar-unit{
    height: 2.8em;
    line-height: 1.15em;
}
.pignose-calendar .pignose-calendar-unit a {
    display: inline-block;
    width: 2.4em;
    height: 2.4em;
    border-radius: 50%;
    color: inherit;
    line-height: 2.4em;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color .1s ease,color .1s ease;
    transition: background-color .1s ease,color .1s ease;
}
.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-active a {
    background-color: #ff6651;
    color: #fff;
    font-weight: 600;
    -webkit-box-shadow: 0 1px 3px rgb(0 0 0 / 50%);
    box-shadow: 0 1px 3px rgb(0 0 0 / 50%);
}

/* section */
#section2 .btn_time.on{
    background-color: #ff6651;
    border: 1px solid transparent;
    color: #fff;
}
#section3{
    margin-bottom: 100px;
}
#section3 .person{
    justify-content: space-between;
}

.btn_person .minus{
    margin-right: 10px;
}
.btn_person .person_val{
    border: none;
    width: 20px;
}