
#wrap{
    width: 100%;
    max-width: 360px;
    min-width: 320px;
    overflow: hidden;
}
button{
    border: none;
}
.btn_hash{
    padding: 8px 14px;
    border-radius: 25px;
    border: 1px solid rgba(255, 102, 81, 0.7);
}
.btn_store_nav{
    display: inline-block;
    padding: 9px 21px;
    border-radius: 25px;
    border: 1px solid #FA8470;
    color: #FF6651;
}
[type="search"]{
    border: none;
}
.inner{
    padding: 0 16px;
}
.txt_white{
    color: #fff;
}
.txt_orenge{
    color: #FF6651;
}
.txt_gray{
    color: #b5b5b5;
}
.txt_big{
    font-size: 1.25rem;
}
.txt_small{
    font-size: 0.875rem;
}
.txt_bold{
    font-weight: 700;
}
.flex{
    display: flex;
    flex-direction: row;
}
.flex_co{
    display: flex;
    flex-direction: column;
}

/* header */
#header{
    position: relative;
    padding: 16px 0;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    margin-bottom: 16px;
}
#header .inner{
    flex-wrap: wrap;
}
#header .location{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 16px;
    align-items: center;
}
#header .location span{
    margin-right: 5px;
}
#header .alert_icon{
    position: absolute;
    top: 16px;
    right: 20px;
    width: 20px;
    height: 20px;
}
#header .src_wrap{
    width: 100%;
    height: 40px;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding-left: 16px;
    align-items: center;
}
#header .search_icon{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
#header .location_icon{
    width: 18px;
    height: 18px;
}
#header .src_btn{
    margin-right: 8px;
}
#header .src_wrap input::placeholder{
    font-size: 0.875rem;
    color: #b5b5b5;
}

#store_header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}
#store_header .inner{
    padding: 16px;
    justify-content: space-between;
}
#store_header .arrow_left_icon{
    width: 20px;
    height: 16px;
}
#store_header .share_icon{
    width: 16px;
    height: 16px;
}
#store_header .heart_icon_white{
    width: 22px;
    height: 20px;
    margin-left: 16px;
}




/* nav */
#nav{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 -1px 4px 0 rgba(0,0,0,0.1);
}
#nav .gnb{
    justify-content: space-between;
}
#nav .gnb > li > a{
    justify-content: center;
    align-items: center;
    width: 52px;
    padding: 12px 0 8px 0;
}
#nav .gnb > li > a > span:nth-child(1){
    margin-bottom: 4px;
    width: 25px;
    height: 25px;
}

#store_nav{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 -1px 4px 0 rgba(0,0,0,0.1);
}
#store_nav .inner{
    justify-content: space-between;
    padding: 10px 16px;
}


