.touch{
    position: relative;
}
.touch::after{
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255, 102, 81,0.5);
    z-index: 2;
    animation: touch 1s 0.2s linear infinite;
}
@keyframes touch{
    0%{scale: 0.5;}
    100%{scale: 1;}
}
/* intro */
#intro{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FF6651;
    z-index: 9999;
    /* display: none; */
    overflow: hidden;
}
#intro .frame{
    margin: 0 auto;
    width: 80%;
    height: 45%;
    box-sizing: border-box;
    border: 8px solid #000;
    background-color: #fff;
    border-top: 0px solid #000;
    border-radius: 0 0 30px 30px;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
}
#intro .frame p{
    font-size: 32px;
    letter-spacing: 0.05em;
    transform: translate(0, -50%);
}
#intro .paper{
    position: absolute;
    left: 50%;
    bottom: 0px;
    width: 80%;
    height: 100%;
    background: url(../images/intro_paper.png) no-repeat;
    background-size: 100%;
    background-position: bottom;
    transform: translateX(-50%);
    z-index: -1;
    animation: move_down 1.3s 0.5s linear forwards;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
}
@keyframes move_down{
    0%{bottom: 0px;}
    100%{bottom: -70%;}
}
#intro .skip{
    text-decoration: underline;
    text-underline-offset: 4px;
    color: #fff;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

#wrap{
    width: 100%;
    /* max-width: 360px; */
    min-width: 320px;
    overflow: hidden;
    margin: 0 auto;
}
button{
    border: none;
}
.line{
    width: 100%;
    height: 8px;
    background-color: #f1f1f1;
    font-size: 0;
}
.btn_follow{
    padding: 5px 8px;
    border-radius: 25px;
    border: 1px solid #FF6651;
}

.btn_hash{
    padding: 8px 14px;
    border-radius: 25px;
    border: 1px solid rgba(255, 102, 81, 0.7);
}
.btn_hash.on{
    background-color: #ff6651;
    border: 1px solid transparent;
    color: #fff;
}
.btn_store_nav{
    display: inline-block;
    padding: 9px 21px;
    border-radius: 25px;
    border: 1px solid #FA8470;
    color: #FF6651;
}
.btn_time{
    display: inline-block;
    padding: 7px 11px;
    border-radius: 25px;
    border: 1px solid rgba(0,0,0,0.2);
    color: #222;
    font-size: 0.875rem;
}
.btn_person{
    display: inline-block;
    padding: 8px 15px;
    border-radius: 25px;
    border: 1px solid rgba(0,0,0,0.2);
    color: #222;
}
    .btn_person .minus{
        margin-right: 10px;
    }
    .btn_person .person_val{
        border: none;
        width: 20px;
    }

[type="search"]{
    border: none;
    width: 80%;
}
.inner{
    padding: 0 16px;
}
.txt_white{
    color: #fff;
}
.txt_orenge{
    color: #FF6651;
}
.txt_gray{
    color: #b5b5b5;
}
.txt_big{
    font-size: 1.25rem;
}
.txt_small{
    font-size: 0.875rem;
}
.txt_bold{
    font-weight: 700;
}
.flex{
    display: flex;
    flex-direction: row;
}
.flex_co{
    display: flex;
    flex-direction: column;
}

.txt_box{
    background-color: #fff7f7;
    border-radius: 20px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
    padding: 16px;
    margin-bottom: 32px;
}

/* header */
#header{
    position: relative;
    padding: 16px 0;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    margin-bottom: 16px;
}
#header .inner{
    flex-wrap: wrap;
}
#header .location{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 16px;
    align-items: center;
}
#header .location span{
    margin-right: 5px;
}
#header .alert_icon{
    position: absolute;
    top: 16px;
    right: 20px;
    width: 20px;
    height: 20px;
}
#header .src_wrap{
    width: 100%;
    height: 40px;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding-left: 16px;
    align-items: center;
}
#header .search_icon{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
#header .location_icon{
    width: 18px;
    height: 18px;
}
#header .src_btn{
    margin-right: 8px;
}
#header .src_wrap input::placeholder{
    font-size: 0.875rem;
    color: #b5b5b5;
}

#store_header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}
#store_header .inner{
    padding: 16px;
    justify-content: space-between;
}
#store_header .arrow_left_icon{
    width: 20px;
    height: 16px;
}
#store_header .share_icon{
    width: 16px;
    height: 16px;
}
#store_header .heart_icon_white{
    width: 22px;
    height: 20px;
    margin-left: 16px;
}
#reserv_header{
    padding: 16px 0;
    margin-bottom: 16px;
}
#reserv_header .arrow_left_icon_bk{
    width: 20px;
    height: 16px;
    margin-right: 10px;
}




/* nav */
#nav{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 -1px 4px 0 rgba(0,0,0,0.1);
}
#nav .gnb{
    justify-content: space-between;
}
#nav .gnb > li > a{
    justify-content: center;
    align-items: center;
    width: 52px;
    padding: 12px 0 8px 0;
    position: relative;
}
#nav .gnb > li > a.touch::after{
    top: 0;
    left: 0;
}
#nav .gnb > li > a > span:nth-child(1){
    margin-bottom: 4px;
    width: 25px;
    height: 25px;
}

#store_nav{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 -1px 4px 0 rgba(0,0,0,0.1);
}
#store_nav .inner{
    justify-content: space-between;
    padding: 10px 16px;
}
#reserv_nav{
    height: 56px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0 -1px 4px 0 rgba(0,0,0,0.1);
    background-color: #FF6651;
}
#reserv_nav > a{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1em;
}

@media all and (min-width:530px){
    .inner{
        padding: 0 32px;
    }
}